.Video{
    position: relative;
    width: 100%;
    height: 700px;
    transform: translateY(0%);
    top: -100px;
}

.Video video{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.diferenciais{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 300px;
}
.diferenciais h1{
    margin-bottom: 100px;
}
.LinhaDif{
    width: 100%;
    height: 220px;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.DivDif1{
    background-color: rgb(179, 227, 255);
    width: 30%;
}
.DivDif2{
    width: 70%;
}
.DivDif1 img{
    position: relative;
    text-align: center;
    height: 60%;
    top: 40%;
    transform: translateY(-50%);
}
.DivDif1 h2{
    position: relative;
    text-align: center;
    top: 20%;
    transform: translateY(-50%);
    font-size: 1.5rem;
}
.LinhaDif textarea{
    position: relative;
    width: 70%;
    height: fit-content;
    text-align: center;
    font-size: 1.3rem;   
    padding: 20px;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    resize: none;
    font-weight: bold;
    font-family: 'Arapey',Serif;
    color: rgb(36, 36, 36);

}