.Formulario{
    position: relative;
    width: 80%;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.Campo{
    width: 50%;
    height: 40px;
    text-align: center;
    color: rgb(37, 37, 37);
    font-weight: bold;
    outline: none;
}
.Longo{
    height: 200px;
}
.Botoes{
    position: relative;
    width: 200px;
    height: 50px;
    margin: 20px;
    border: 1px solid rgb(59, 59, 59);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: bold;
    color: rgb(59, 59, 59);
    transition-duration: 0.5s;
}
.Botoes:hover{
    background-color: rgb(237, 255, 235);
    color: rgb(32, 32, 32);
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}
.Titulo{
    width: 100%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}
.DivTabela{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}
#TabelaProd{
    position: relative;
    width: 100%;
}
#TabelaProd td{
    height: 30px;
    border: 1px solid black;
    border-top: none;
    border-left: none;

}
#TabelaProd td:nth-child(1){
    width: 10%;
    border: none;
}
#TabelaProd td:nth-child(2){
    width: 50%;
}
#TabelaProd td:nth-child(3){
    width: 20%;
}
#TabelaProd td:nth-child(4){
    width: 20%;
}
#TabelaProd input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    
}
#TabelaProd input:nth-child(1){
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
    text-align: center;
}
#TabelaImgs{
    width: 100%;
}
#TabelaImgs input{
    width: 100%;
}
#TabelaImgs td:nth-child(1){
    width: 10%;
}
#TabelaImgs td:nth-child(2){
    width: 90%;
}
.AdicionarBTN{
    width: 30px;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 255, 21);
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.RemoverBTN{
    width: 30px;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}